@font-face {
    font-family: 'ChunkFive';
    src: url('../font/chunkfive.regular.ttf');
    src: url('../font/chunkfive.regular.otf');
  }
@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Regular.ttf');
  }
html {
    font-family: 'Lato', Helvetica, Arial, sans-serif
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'ChunkFive', Helvetica, Arial, sans-serif
}
body {
    margin: 0;
    text-align: center;
    color: #f9ffd9;
}
#body {
    background: #55aba8;
}
a {
    color: #f9ffd9;
    text-decoration: none;  
}
header {
    padding: 5em;
    /* background: #49afa3; */
}
h1 {
    font-size: 3em;
}
.contact {
    background: #ffab84;
    /* width: 100%; */
}
.contact ul li {
    display: inline;
    font-size: 18px;
}
.contact ul {
    margin: 0;
    padding: 50px 0;
}
.exp1 {
    grid-area: exp1;
    text-align: center;
}
.exp2 {
    grid-area: exp2;
    text-align: center;
}
.skill {
    padding: 1em 2em;
}
.timeline-item {
    border-left: 2px solid #f9ffd9;
    padding: 6em 2em 6em;
    position: relative;
}
.timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: .3em;
    display: block;
    font-weight: 700;
    /* font-size: .785rem; */
    font-size: 26px;
}
.timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: '';
    border: 2px solid #f9ffd9;
    background: #f9ffd9;
}
.timeline-item:last-child {
    border-image: 
    linear-gradient(
      to bottom, 
      #f9ffd9, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
.skills {
    background: #f9ffd9;
    padding: 50px 0;
    color: rgba(0,0,0,.6);
}
.gridContainer {
    background: rgb(48, 47, 47);
    padding: 50px 0;
    color: #f9ffd9;
    display: grid;
    grid-gap: 2em;
    grid-template-rows: auto;
    grid-template-columns: 50px auto 50px;
    grid-template-areas: 
        ". exp1 ."
        ". exp2 .";
}
#extras {
    display: inline-block;
    height: em;
    width: 11em;
    margin: auto;
    padding: 1em 2em;
    vertical-align: 3em;
}

@media screen and (min-width: 1025px) {
    .gridContainer {
        grid-template-columns: 200px auto auto 200px;
        grid-template-areas: ". exp1 exp2 .";
    }
    .bio {
        width: 50%;
        margin: auto; 
    }
    p {
        font-size: 1rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .me {
        width: 200px;
    }
    .timeline-item {
        font-size: 1rem;
    }
    p {
        font-size: 1rem;
    }
}
@media screen and (max-width: 767px) {
    .timeline-item {
        font-size: .75rem;
    }
    .timeline-item::before {
        font-size: 2em;
        top: .5rem;
    }
}
